extends ../layout/main

block variables
	- var title = 'Для тех, кто в кресле';

block breadcrumb
	-
		var breadcrumbs=[
			{href:'/',name:'Главная'},
			{href:'#',name:'Статьи'},
		];

	+breadcrumbs(breadcrumbs)

block content
	.diagnosis-wrap
		section.diagnosis
			.container
				.row
					.col-12
						.diagnosis__layuot
							.diagnosis__content
								.h1 Лечение спины для ведущих сидячий образ жизни

								.h2 Эффективность занятий

								.btn-advant.btn-advant_col
									-
										var list=[
											'Устранение боли',
											'Укрепление мышц',
											'Разработка суставов',
											'Развитие координации',
										]
									each item in list
										.btn-advant__item= item
							
							.diagnosis__sidebar
								.event-calendar
									.event-calendar__title Ближайшие бесплатные мероприятия

									.event-calendar__list
										-
											var list=[
												{month:'Март', date:'17', text:'Зарядка для программиста и тех кто работает "в кресле"'},
												{month:'Март', date:'24', text:'Зарядка для программиста и тех кто работает "в кресле"'},
												{month:'Март', date:'31', text:'Зарядка для программиста и тех кто работает "в кресле"'},
											]

										each item, index in list
											.event-calendar__item
												.calendar-paper
													.calendar-paper__month= item.month
													.calendar-paper__date= item.date

												.event-calendar__text= item.text


									.event-calendar__more
										a(href="#") Все события центра

		section.event-add
			.container
				.row
					.col-12
						.h2 Дополнительный эффект

						.event-det-add
							.event-det-add__desc
								p
									b Суставная гимнастика способствует улучшению работы:

								ul.type-list
									li сердечно-сосудистой системы,
									li дыхательной системы,
									li обмена веществ,
									li желудочно-кишечного тракта,
									li мочеполовой системы,
									li вегетососудистой системы.


							.info
								.info__icon
									img(src="assets/img/info.svg", alt="")

								.info__text
									p В комплекс партерной гимнастики входят упражнения для основных групп мышц спины, пресса, ног, рук и упражнения на растягивание, которые улучшают кровообращение, способствуют развитию гибкости, силы, выносливости, координации.

									p Проводится гимнастика на ковриках и с использованием гимнастического мяча (фитбола), скакалок и другого гимнастического инвентаря. Главное достоинство партерной гимнастики – она подходит для всех! Нет никаких ограничений по возрасту, полу, уровню физической подготовки. Ведь все упражнения выполняются лёжа или сидя, поэтому нет излишней нагрузки на суставы и кровеносную систему (в частности, варикозное заболевание вен отнюдь не является препятствием для занятий).


		section.gallery-wrap
			.container
				.row
					.col-12
						.h2 Как проходят занятия

				.gallery
					.row
						-
							var list=[
								'gallery1.jpg',
								'gallery2.jpg',
								'gallery3.jpg',
							]

						each item, index in list
							.col-sm-6.col-md-4
								.gallery__item
									svg(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 375 309' preserveAspectRatio='xMinYMin meet')
										path(fill="#a4c2e6" d='M123.384,6.062l46.363-4.406c62.011,1.952,121.524,4.1,158.173,41.5,13.542,13.82,25.279,29.176,33.889,50.193,29.443,71.87,3.353,150.751-35.474,185.454-28.075,25.092-75.157,35.279-114.3,27.482-69.836-13.909-143.482-47.512-184.4-102C7.021,176.841-8.666,125.661,7.075,86.358,20.408,53.066,47.287,32.431,82.848,16.97L108.87,9.036Z')
										path(fill="#7ea9e0" d='M130.034-1.007L175-.355c59.6,8.428,116.783,16.779,149.507,56.678,12.091,14.742,22.338,30.774,29.183,51.93,23.4,72.342-7.171,145.574-46.967,174.9-28.776,21.207-74.834,26.049-112.008,14.4C128.4,276.789,59.775,236.642,24.121,179.838,6.158,151.221-5.422,100.261,12.453,64.063,27.594,33.4,54.91,16.36,90.232,5.221l25.615-4.9Z')

										clippath(id='clip-gallery-'+index)
											path(fill="#ffffff" d='M138.53,1.4l43.706,3.256C239.879,16.311,295.171,27.75,325.471,68.369c11.2,15.009,20.549,31.162,26.4,52.087,20,71.553-12.536,140.82-52.361,166.955-28.8,18.9-73.773,20.908-109.481,7.441-63.7-24.023-128.906-66.978-161.41-124.17C12.24,141.868,2.925,91.751,21.692,57.673c15.9-28.866,43.114-43.8,77.892-52.551l25.1-3.256Z')
										image(xlink:href='assets/img/'+item width='100%' height='100%' style="clip-path:url(#clip-gallery-"+index+");")

		section.prices-wrap
			.container
				.row
					.col-12
						.h2 Стоимость посещения
		
			.program-list.program-list_nowrap
				.container
					.row
						-
							var list=[
								{title:'Первое посещение', free:"Бесплатно", color:'green'},
								{title:'Разовые посещения', price:'500', cur:'р / занятие', text:'при оплате 10 занятий скидка 10%', color:'yellow'},
								{title:'Абонемент', price:'3 000', cur:'р / месяц', text:'при оптате за год скидка 40%', check:'long'},
							]

						each item,index in list
							.col-md-6.col-lg-4
								.program-card(class=item.color?'program-card_'+item.color:'')
									.program-card__content
										.program-card__title= item.title

										.program-card__main
											.program-card__info
												.program-card__desc
													if(item.free)
														.program-card__price.program-card__price_big=item.free
													else
														.program-card__price
															span.program-card__num= item.price
															|&nbsp;
															= item.cur

													if(item.text)
														.program-card__text= item.text

												.program-card__params
													if(item.check == 'long')
														.input-check
															input(type='checkbox', id='check'+index+'1')
															label.input-check__label(for='check'+index+'1')
																span.input-check__mark
																	+svg('ic-tick','ic-tick', '10', '8')
																span.input-check__text Гимнастический зал

														.input-check
															input(type='checkbox', id='check'+index+'2')
															label.input-check__label(for='check'+index+'2')
																span.input-check__mark
																	+svg('ic-tick','ic-tick', '10', '8')
																span.input-check__text Личный инструктор

														.input-check
															input(type='checkbox', id='check'+index+'3')
															label.input-check__label(for='check'+index+'3')
																span.input-check__mark
																	+svg('ic-tick','ic-tick', '10', '8')
																span.input-check__text Наблюдение у врача

														.input-check
															input(type='checkbox', id='check'+index+'4')
															label.input-check__label(for='check'+index+'4')
																span.input-check__mark
																	+svg('ic-tick','ic-tick', '10', '8')
																span.input-check__text Личная программа оздоровления
													else
														.input-check
															input(type='checkbox', id='check'+index+'1')
															label.input-check__label(for='check'+index+'1')
																span.input-check__mark
																	+svg('ic-tick','ic-tick', '10', '8')
																span.input-check__text Гимнастический зал

														.input-check
															input(type='checkbox', id='check'+index+'2')
															label.input-check__label(for='check'+index+'2')
																span.input-check__mark
																	+svg('ic-tick','ic-tick', '10', '8')
																span.input-check__text Личный инструктор
											
											.program-card__more
												a.btn.btn_border(href='#') Выбрать тариф