extends ../layout/main

block variables
	- var title = 'История Морозова';

block breadcrumb
	-
		var breadcrumbs=[
			{href:'/',name:'Главная'},
			{href:'#',name:'О центре'},
			{href:'#',name:'Моя история болезни'},
		];

	+breadcrumbs(breadcrumbs)

block content
	.person-history
		section.person-h-top
			.container
				.row
					.col-md-6.order-2.order-md-1
						h1 История Игоря Морозова

						p Мой диагноз: межпозвонковая грыжа (3 штуки)
							br
							a(href="") Смотрите снимки МРТ

						p Мне по мнению обычных врачей нельзя поднимать тяжести, нужно больше лежать и ходить на физио процедуры...
						p Вместо этого я веду активный образ жизни, бегаю по утрам, катаюсь на роликах, горных лыжах, занимаюсь в спортзале и все это без боли в спине и суставах.

					.col-md-6.d-flex.justify-content-md-end.order-1.order-md-2
						.person-h-top__img
							svg(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 522 350' preserveAspectRatio='xMinYMin meet')
								path(fill="#a4c2e6" d='M170.492,8.26l64.736-4.972c86.586,2.2,169.684,4.625,220.856,46.839,18.907,15.6,35.3,32.93,47.318,56.652,41.11,81.117,4.682,170.147-49.532,209.315-39.2,28.321-104.94,39.819-159.6,31.018-97.51-15.7-200.341-53.625-257.469-115.118C8.017,201.013-13.886,143.247,8.092,98.888c18.617-37.575,56.147-60.865,105.8-78.316l36.335-8.955Z')
								path(fill="#7ea9e0" d='M179.777,0.282l62.785,0.736c83.222,9.512,163.063,18.938,208.755,63.97,16.882,16.639,31.19,34.734,40.747,58.611,32.678,81.65-10.012,164.3-65.58,197.408C386.305,344.943,322,350.408,270.09,337.265,177.5,313.82,81.677,268.508,31.893,204.4,6.812,172.1-9.357,114.58,15.6,73.724,36.742,39.116,74.883,19.884,124.2,7.311l35.765-5.526Z')

								clippath(id='clip-h-person')
									path(fill="#ffffff" data-name='Фигура 561' d='M191.641,3l61.026,3.674c80.486,13.154,157.69,26.064,200,71.91,15.633,16.94,28.693,35.171,36.858,58.788,27.921,80.76-17.5,158.939-73.111,188.437-40.207,21.328-103.009,23.6-152.868,8.4C174.6,307.093,83.554,258.612,38.169,194.061,15.3,161.54,2.3,104.974,28.5,66.512,50.7,33.932,88.7,17.071,137.261,7.2l35.045-3.674Z')
								image(xlink:href='assets/img/morozov.jpg' width='100%' height='100%' style="clip-path:url(#clip-h-person);")

		section.gallery-wrap
			.container
				.row
					.col-12
						.h2 Мои активные будни

				.gallery
					.row
						.col-sm-6.col-md-3
							.gallery__item
								svg(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 270 218' preserveAspectRatio='xMinYMin meet')
									path(fill="#fbf4f1" d='M70.846,191.494l31.72,8.641c43.523,6.543,85.331,12.648,116.125-6.655,11.378-7.132,21.713-15.472,30.659-27.825,30.591-42.239,23.433-95.936,1.208-123-16.069-19.565-47.481-31.992-75.877-31.926C124.028,10.85,67.962,23.077,31.8,52.761,13.585,67.716-4.517,98.459.962,125.558c4.641,22.955,20.5,39.521,43.139,53.871L61.14,187.77Z')
									path(fill="#eee0d9" d='M73.708,183.406l29.427,10.482c40.761,9.344,79.929,18.148,110.491,2.072,11.293-5.941,21.684-13.1,31.048-24.168,32.021-37.837,29.1-89.261,10-116.518-13.815-19.709-42.679-33.757-69.584-35.744-47.995-3.544-101.99,4-138.382,29.533-18.334,12.863-37.7,40.7-34.457,66.79,2.744,22.1,16.576,38.947,36.99,54.185l15.542,9.137Z')

									clippath(id='clip-gal-1')
										path(fill="#ffffff" d='M70.258,177.476l28.008,12.149c39.132,11.777,76.744,22.923,107.587,9.21,11.4-5.067,21.993-11.385,31.842-21.582,33.681-34.869,34.184-85.279,17.33-113.141-12.187-20.146-39.413-35.743-65.515-39.433C142.949,18.1,89.816,21.952,52.675,44.52c-18.712,11.37-39.4,37.3-37.939,62.985,1.238,21.759,13.626,39.114,32.537,55.324l14.558,9.934Z')
									image(xlink:href='assets/img/history-gal1.jpg' width='100%' height='100%' style="clip-path:url(#clip-gal-1);")

						.col-sm-6.col-md-3
							.gallery__item
								svg(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 270 218' preserveAspectRatio='xMinYMin meet')
									path(fill="#fbf4f1" d='M160.22,0.486l-32.4,5.586C85.616,18.552,45.147,30.7,25.383,61.224,18.081,72.5,12.234,84.432,9.339,99.412c-9.9,51.223,19.253,96.863,50.816,111.988,22.822,10.936,56.538,8.911,82.246-3.16,45.86-21.532,91.516-56.329,111.76-98.529,10.2-21.26,13.631-56.782-2.772-79.025C237.494,11.844,216.128,3.537,189.553.107L170.589-.245Z')
									path(fill="#eee0d9" d='M161.04,9.026l-31.095,2.948c-40.888,8.773-80.1,17.36-101.018,44.86C21.2,66.995,14.8,77.882,10.987,91.871-2.066,139.71,22.281,185.084,51.1,201.707c20.84,12.019,52.929,12.542,78.153,2.963,45-17.09,90.75-46.768,112.958-85.3C253.4,99.952,259.2,66.53,245.255,44.257,233.441,25.39,213.793,15.968,188.86,10.792L170.917,9.085Z')
										
									clippath(id='clip-gal-2')
										path(fill="#ffffff" d='M166.67,12.942l-30.513.836C95.72,19.657,56.925,25.465,34.759,50.94c-8.19,9.413-15.128,19.622-19.751,33.03-15.81,45.85,5.011,91.752,32.046,109.876,19.548,13.1,50.807,15.724,76.022,8.028,44.98-13.729,91.509-39.7,115.647-75.865,12.161-18.22,19.968-50.472,7.8-73.135-10.306-19.2-28.859-29.687-52.84-36.38L176.3,13.649Z')
									image(xlink:href='assets/img/history-gal2.jpg' width='100%' height='100%' style="clip-path:url(#clip-gal-2);")
						
						.col-sm-6.col-md-3
							.gallery__item
								svg(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 270 218' preserveAspectRatio='xMinYMin meet')
									path(fill="#fbf4f1" d='M197.729,24.031l-31.851-8.142C122.257,10.031,80.359,4.583,49.871,24.367,38.606,31.677,28.4,40.179,19.652,52.67c-29.925,42.714-21.926,96.293.719,123,16.374,19.31,47.977,31.242,76.368,30.73,50.645-.912,106.513-14.018,142.2-44.267,17.98-15.239,35.6-46.262,29.7-73.272-5-22.879-21.117-39.194-43.978-53.187L207.492,27.6Z')
									path(fill="#eee0d9" d='M194.994,32.163L165.406,22.145c-40.9-8.7-80.2-16.891-110.509-.336C43.7,27.925,33.421,35.25,24.231,46.46-7.193,84.8-3.471,136.167,16.06,163.121c14.122,19.49,43.2,33.083,70.136,34.647,48.044,2.79,101.914-5.6,137.9-31.7,18.131-13.149,37.054-41.289,33.406-67.322-3.09-22.051-17.184-38.682-37.834-53.6l-15.683-8.892Z')

									clippath(id='clip-gal-3')
										path(fill="#ffffff" d='M198.536,38.038L170.341,26.33C131.03,15.17,93.247,4.615,62.624,18.811c-11.315,5.245-21.812,11.729-31.5,22.079C-2.007,76.284-1.72,126.7,15.569,154.291c12.5,19.951,39.968,35.119,66.124,38.4,46.659,5.851,99.725,1.161,136.508-21.988,18.532-11.663,38.811-37.913,36.948-63.574-1.579-21.736-14.238-38.895-33.4-54.805l-14.712-9.7Z')
									image(xlink:href='assets/img/history-gal3.jpg' width='100%' height='100%' style="clip-path:url(#clip-gal-3);")

						.col-sm-6.col-md-3
							.gallery__item
								svg(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 270 218' preserveAspectRatio='xMinYMin meet')
									path(fill="#fbf4f1" d='M108.776,216.623l32.448-5.27c42.328-12.07,82.913-23.827,102.972-54.154,7.411-11.205,13.373-23.08,16.413-38.03,10.4-51.125-18.312-97.046-49.727-112.477-22.716-11.157-56.449-9.46-82.273,2.36C82.542,30.137,36.552,64.489,15.9,106.49c-10.4,21.16-14.181,56.647,2.006,79.049,13.711,18.976,35,27.489,61.536,31.177l18.96,0.537Z')
									path(fill="#eee0d9" d='M108.039,208.075l31.122-2.646c40.971-8.375,80.268-16.581,101.448-43.875,7.826-10.085,14.327-20.909,18.28-34.861C272.4,78.983,248.5,33.375,219.84,16.472,199.118,4.251,167.035,3.416,141.719,12.75c-45.16,16.651-91.2,45.883-113.78,84.2-11.376,19.3-17.5,52.669-3.769,75.077,11.63,18.981,31.186,28.593,56.068,34.011l17.925,1.881Z')
										path(fill="#ffffff" d='M102.447,204.1l30.52-.538c40.492-5.486,79.342-10.916,101.754-36.175,8.281-9.333,15.318-19.474,20.071-32.837,16.253-45.694-4.121-91.8-30.979-110.182-19.42-13.294-50.653-16.217-75.941-8.766C102.762,28.9,55.983,54.413,31.5,90.343c-12.337,18.1-20.457,50.275-8.512,73.055C33.1,182.7,51.553,193.365,75.468,200.29l17.359,3.015Z')

									clippath(id='clip-gal-4')
										path(fill="#ffffff" d='M102.447,204.1l30.52-.538c40.492-5.486,79.342-10.916,101.754-36.175,8.281-9.333,15.318-19.474,20.071-32.837,16.253-45.694-4.121-91.8-30.979-110.182-19.42-13.294-50.653-16.217-75.941-8.766C102.762,28.9,55.983,54.413,31.5,90.343c-12.337,18.1-20.457,50.275-8.512,73.055C33.1,182.7,51.553,193.365,75.468,200.29l17.359,3.015Z')
									image(xlink:href='assets/img/history-gal4.jpg' width='100%' height='100%' style="clip-path:url(#clip-gal-4);")

		section.history
			.container
				.row
					.col-12
						.h2 Но так было не всегда...

						.history__list.history__list_full
							-
								var list=[
									{title:'Мой путь лечения начался в 1997 году', text:'Я испытал сильную боль в спине когда пытался поднять экскаватор наспор с друзьями. Меня скрючило и на этом самом эксковаторе меня довезли до поликлиники. Я испытал сильную боль в спине когда пытался поднять экскаватор наспор с друзьями. Меня скрючило и на этом самом эксковаторе меня довезли до поликлиники.', left:'true'},
									{title:'Потом меня переехал самокат', text:'Ну такое с каждым может быть... Идешь ты по улице, а тут бац и твои 80 кг литят в кусты вместе с подростком и самокатом. Поликлиника уже не помогла, привет мануальщики.Ну такое с каждым может быть... Идешь ты по улице, а тут бац и твои 80 кг литят в кусты вместе с подростком и самокатом. Поликлиника уже не помогла, привет мануальщики.', pic:'true'},
								]

							each item in list
								.history__item(class=item.left?'history__item_left':'')
									.history__content
										.history__title= item.title
										.history__text.read-more.js-read-more= item.text

										if(item.pic)
											.history-gal
												a.history-gal__item(href='assets/img/history-doc-big1.jpg', data-fancybox='diploma')
													img(src='assets/img/history-doc1.jpg', alt='')

												a.history-gal__item(href='assets/img/history-doc-big2.jpg', data-fancybox='diploma')
													img(src='assets/img/history-doc2.jpg', alt='')

							.history__res
								p Синдром острых болей в нижней части спины остается одной из самых частых причин обращения за медицинской помощью, занимая по некоторым данным пятое место среди всех обращений к врачу. Люди, страдающие от болей в спине, суставах боясь нагрузок, быстро привыкают к ограничениям в повседневной жизни, стремятся избегать любых физических напряжений, ищут помощи в быту. Так формируется определённый и чрезвычайно устойчивый стереотип поведения, в  основе которого лежит страх боли и своей беспомощности перед ней. Оказавшись в паутине запретов, человек вынужден продолжать своё биологическое существование ещё долгие годы,   но фактически он перестает жить, становясь обузой для близких.
								p Многолетняя практика показывает – опорно - двигательный аппарат, предназначенный для опоры и движения, вылечить покоем, таблетками и операциями невозможно. Запрет на физические нагрузки – из разряда врачебных советов «не волноваться». 

						.history-bottom
							.history-bottom__title И так, вы можете пройти мой путь или же зайти к нам раньше

							a.btn(href='#') Записаться на консультацию

	.materials
		.container
			.row
				.col-lg-6
					.materials-video
						.h2 Видео

						.materials-video__content
							iframe(allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='' src='https://www.youtube.com/embed/bhNWa0-VBKk' frameborder='0')

				.col-lg-6
					.article-short.article-short_md-nowrap
						.h2 Мои статьи

						.article-short__list
							-
								var list=[
									{img:'1', title:'Движение против сколиоза', text:'Синдром острых болей в нижней части спины остается одной из самых частых... '},
									{img:'2', title:'Движение против сколиоза', text:'Синдром острых болей в нижней части спины остается одной из самых частых... '},
									{img:'3', title:'Движение против сколиоза', text:'Синдром острых болей в нижней части спины остается одной из самых частых... '},
								]

							each item in list
								.article-short__item
									.article-short__img
										a(href="#")
											if(item.img == '1')
												svg(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 270 218' preserveAspectRatio='xMinYMin meet')
													path(fill="#fbf4f1" d='M70.846,191.494l31.72,8.641c43.523,6.543,85.331,12.648,116.125-6.655,11.378-7.132,21.713-15.472,30.659-27.825,30.591-42.239,23.433-95.936,1.208-123-16.069-19.565-47.481-31.992-75.877-31.926C124.028,10.85,67.962,23.077,31.8,52.761,13.585,67.716-4.517,98.459.962,125.558c4.641,22.955,20.5,39.521,43.139,53.871L61.14,187.77Z')
													path(fill="#eee0d9" d='M73.708,183.406l29.427,10.482c40.761,9.344,79.929,18.148,110.491,2.072,11.293-5.941,21.684-13.1,31.048-24.168,32.021-37.837,29.1-89.261,10-116.518-13.815-19.709-42.679-33.757-69.584-35.744-47.995-3.544-101.99,4-138.382,29.533-18.334,12.863-37.7,40.7-34.457,66.79,2.744,22.1,16.576,38.947,36.99,54.185l15.542,9.137Z')

													clippath(id='clip-gal-1')
														path(fill="#ffffff" d='M70.258,177.476l28.008,12.149c39.132,11.777,76.744,22.923,107.587,9.21,11.4-5.067,21.993-11.385,31.842-21.582,33.681-34.869,34.184-85.279,17.33-113.141-12.187-20.146-39.413-35.743-65.515-39.433C142.949,18.1,89.816,21.952,52.675,44.52c-18.712,11.37-39.4,37.3-37.939,62.985,1.238,21.759,13.626,39.114,32.537,55.324l14.558,9.934Z')
													image(xlink:href='assets/img/history-gal1.jpg' width='100%' height='100%' style="clip-path:url(#clip-gal-1);")

											else if(item.img == '2')
												svg(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 270 218' preserveAspectRatio='xMinYMin meet')
													path(fill="#fbf4f1" d='M160.22,0.486l-32.4,5.586C85.616,18.552,45.147,30.7,25.383,61.224,18.081,72.5,12.234,84.432,9.339,99.412c-9.9,51.223,19.253,96.863,50.816,111.988,22.822,10.936,56.538,8.911,82.246-3.16,45.86-21.532,91.516-56.329,111.76-98.529,10.2-21.26,13.631-56.782-2.772-79.025C237.494,11.844,216.128,3.537,189.553.107L170.589-.245Z')
													path(fill="#eee0d9" d='M161.04,9.026l-31.095,2.948c-40.888,8.773-80.1,17.36-101.018,44.86C21.2,66.995,14.8,77.882,10.987,91.871-2.066,139.71,22.281,185.084,51.1,201.707c20.84,12.019,52.929,12.542,78.153,2.963,45-17.09,90.75-46.768,112.958-85.3C253.4,99.952,259.2,66.53,245.255,44.257,233.441,25.39,213.793,15.968,188.86,10.792L170.917,9.085Z')
														
													clippath(id='clip-gal-2')
														path(fill="#ffffff" d='M166.67,12.942l-30.513.836C95.72,19.657,56.925,25.465,34.759,50.94c-8.19,9.413-15.128,19.622-19.751,33.03-15.81,45.85,5.011,91.752,32.046,109.876,19.548,13.1,50.807,15.724,76.022,8.028,44.98-13.729,91.509-39.7,115.647-75.865,12.161-18.22,19.968-50.472,7.8-73.135-10.306-19.2-28.859-29.687-52.84-36.38L176.3,13.649Z')
													image(xlink:href='assets/img/history-gal2.jpg' width='100%' height='100%' style="clip-path:url(#clip-gal-2);")
											else if(item.img == '3')
												svg(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 270 218' preserveAspectRatio='xMinYMin meet')
													path(fill="#fbf4f1" d='M197.729,24.031l-31.851-8.142C122.257,10.031,80.359,4.583,49.871,24.367,38.606,31.677,28.4,40.179,19.652,52.67c-29.925,42.714-21.926,96.293.719,123,16.374,19.31,47.977,31.242,76.368,30.73,50.645-.912,106.513-14.018,142.2-44.267,17.98-15.239,35.6-46.262,29.7-73.272-5-22.879-21.117-39.194-43.978-53.187L207.492,27.6Z')
													path(fill="#eee0d9" d='M194.994,32.163L165.406,22.145c-40.9-8.7-80.2-16.891-110.509-.336C43.7,27.925,33.421,35.25,24.231,46.46-7.193,84.8-3.471,136.167,16.06,163.121c14.122,19.49,43.2,33.083,70.136,34.647,48.044,2.79,101.914-5.6,137.9-31.7,18.131-13.149,37.054-41.289,33.406-67.322-3.09-22.051-17.184-38.682-37.834-53.6l-15.683-8.892Z')

													clippath(id='clip-gal-3')
														path(fill="#ffffff" d='M198.536,38.038L170.341,26.33C131.03,15.17,93.247,4.615,62.624,18.811c-11.315,5.245-21.812,11.729-31.5,22.079C-2.007,76.284-1.72,126.7,15.569,154.291c12.5,19.951,39.968,35.119,66.124,38.4,46.659,5.851,99.725,1.161,136.508-21.988,18.532-11.663,38.811-37.913,36.948-63.574-1.579-21.736-14.238-38.895-33.4-54.805l-14.712-9.7Z')
													image(xlink:href='assets/img/history-gal3.jpg' width='100%' height='100%' style="clip-path:url(#clip-gal-3);")
									
									.article-short__content
										.article-short__title
											a(href="#")= item.title

										.article-short__text= item.text

	include ../components/survey